# python 3.8.7 Virtual Environmetn
/venv


# vs code files
/.vscode


# pycharm files
/.idea


# environmetn files
*.env


# unwanted file formats
*.log
*.pdf
*.mp3
*.mp4


# Python rought works
rough.py



# personal contact info
contactinfo.xlsx

# Cached python files extensions
*.pyc 
*.pyi 


# The shortcut files for the Application folder : 
*.lnk
*.ini


# Cached folders



