# python 3.8.7 Virtual Environmetn
/venv


# vs code files
/.vscode


# pycharm files
/.idea

# environmetn files
*.env


# logs 
.log


# Python rought works
rough.py


# Exel data files
*.xlsx


# pdf files
*.pdf


# personal contact info
contactinfo.xlsx

# Cached files & Folders
*.pyc 
Assistant/__pycache__

Assistant/pywhatkit_dbs.txt
