atomicwrites==1.4.0
attrs==21.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
comtypes==1.1.10
et-xmlfile==1.1.0
geographiclib==1.50
geopy==2.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
keyboard==0.13.5
lxml==4.6.3
MarkupSafe==1.1.1
MouseInfo==0.1.3
numpy==1.20.3
opencv-python==4.5.2.52
openpyxl==3.0.7
packaging==20.9
Pillow==8.2.0
playsound==1.2.2
pluggy==0.13.1
plyer==2.0.0
psutil==5.8.0
py==1.10.0
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
pyjokes==0.6.0
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
python-dotenv==0.17.1
pyttsx3==2.90
PyTweening==1.0.3
pywhatkit==4.7
pywikihow==0.5.7
pywin32==300
PyYAML==5.4.1
requests==2.25.1
requests-cache==0.6.4
screen-brightness-control==0.8.6
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
speedtest-cli==2.1.3
tabulate==0.8.9
toml==0.10.2
typelib==0.0.10
url-normalize==1.4.3
urllib3==1.26.4
Werkzeug==1.0.1
wikipedia==1.4.0
WMI==1.5.1
xlwt==1.3.0
pyaudio==0.2.11
